.App {
  text-align: center;
}

body {
  background-color: #0bcbc3;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.applicant-list {
  font-family: 'Liu Jian Mao Cao', cursive;
  margin: 0 auto;
  background-color: #233536;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.registration-page {
  display: flex;
  justify-content: center;
}
.main-logo {
  width: 25%;
  padding-bottom: 70px;
  padding-top: 50px;
}
.logo {
  width: 5%;
  margin-right: 2%;
}

h1 {
  color: #fbffd8;
  font-size: 4rem;
}

.spacer {
  padding-top: 100px;
}
